*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: butler;
    font-size: 20px;
    color: #926239;
    line-height: 1.6;
    background: #f4f4f4;
    min-height: 100vh;
}
/*
TODO: kosnadsfri rådgivning
background: #f4f4f4;
Göra en mobilanpassad "showcase", där hamburgarmenyn ska få plats
TA BORT BR
Ändra VH på showcase i flikar
*/
 

#showcase {
  background-image: url(picture2.jpeg);
  background-size: cover;
  background-position: 50% 10%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

 

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

 

#showcase p {
    font-size: 30px;
}

 

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    
}

 

#showcase .button:hover {
    background: #926239;
    color: #fff;
}




.container > .por1 {
    display: flex;
    min-height: 50px;


}

 

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width:100%;
    justify-content: center;
  
}

   

 

.image {
    display: block;
    border-radius: 50%;
    padding: 15px 20px;
    height: 169px;
    width: 180px;
}

 

.por1 {
    padding: 0 20px;
    margin: 10px;
    display: flex;
    box-sizing: border-box;
    background: #c7c6c61f;
}

 .por1:hover {
  
   box-shadow: 5px 5px 15px rgb(0,0,0,0.6);
   transform: scale(1.2);
   
 }

.text {
    padding: 15px 20px;
}


#section-a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.about {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 600px;

}

 

#section-b {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#section-a {
 
}


nav {
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0%;
    background-color: rgba(141, 141, 141, 0.7);
    
  }
  ul {
    margin: 0 auto;
    display: block;
    padding: 0px;
    list-style: none;
    
  }
  ul li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 33px;
    display: inline-block;
    margin: 0;

  }

  ul li strong {
      font-size: 33px;
  }

  nav a {
    text-decoration: none;
    color: #926239;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: underline;}

strong {
    font-size: 20px;
}

#section-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 600px;
    
}

.inner {
    max-width: 600px;
    margin: 0 auto;

}

fieldset, form {
    padding: 20px;
    
    }
    
input {
      padding: 6px;
      color: brown;
    }
    
  fieldset {
    display: flex;
    flex-direction: column;
  }

    
#stylebut {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    
    }
  
    footer {
      padding: 10px;
      background-color: #926239;
      text-align: center;
      margin-top: auto;
  } 

  footer p {
    color: #f4f4f4;
  }
 

#stylebut:hover {
        background: #926239;
        color: #fff;
        cursor: pointer;
    }

    @media screen and (max-width: 375px) {
        nav, ul, li {
            display: flex;
            flex-direction: column;
            left: 0%;
        }
        
        .button {
          display: none;
        }
        
        #showcase {
          height: 30vh;
        }
        
    }
    
 